<section class="main-content">

  <span class="lab-section-icon main-icon-element">
    <i class="icon-beaker"></i>
  </span>

  <div class="top-line">
  </div>

  <div class="main-image">
    <%= link_to "6" do %>
      <%= image_tag "main_image.jpeg", :class => "author-image" %>
    <% end %>
  </div>

</section>
